.blogItemContainer {
    display: flex;
    justify-content: space-between;
}
.blogItemBlock {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.blogImg {
    width: 300px;
    height: 200px;
}

.blogText {
    padding: 20px;
}

.navlink {
    text-decoration: none;
    text-underline: none;
    color: black;
}

.showMoreBtn{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.addBlogBtnBlock{
    display: flex;
    justify-content: right;
    margin: 20px;
}
.addBlogBtn{
    background-color: #f9346b;
    color: white
}